@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #1f293a;
    --white-color: #ffff;
    --border-color: #2c4766;
}

.form2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    min-height: 100vh;
}

.container {
    position: relative;
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: var(--border-color);
    border-radius: 6px;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg/50)));
    transform-origin: 140px;
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i)*(3s/50)) ;
}

@keyframes animateBlink {
    0% {
        background: aqua;
    }

    25% {
        background: var(--border-color);
    }
}

.login-box {
    position: absolute;
    width: 400px;
    padding: 20px 20px;
}

.login-box form {
    width: 100%;
}

.login-box h2 {
    text-align: center;
    color: aquamarine;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background: transparent;
    padding: 0 15px;
    font-size: 15px;
    color: var(--white-color);
}

.input-box input:focus,
.input-box input:valid {
    border: 2px solid aqua;
}

.input-box label {
    position: absolute;
    left: 15px;
    top: 35%;
    color: var(--white-color);
    transition: .2s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: 14px;
    top: -15%;
    padding: 2px 4px;
    color: aqua;
    background: var(--bg-color);
}

.forgot-pass {
    text-align: center;
}

.forgot-pass a {
    font-size: 13px;
    font-weight: 300;
    color: var(--white-color);
}

.forgot-pass a:hover {
    text-decoration: underline;
}


.btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 10px 0;
    background: aqua;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.sign-up {
    text-align: center;
}

.sign-up a {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: var(--white-color);
    color: aqua;
}

.sign-up a:hover {
    text-decoration: underline;
}